.panel {
  margin-top: 50px;
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  line-height: 2.5;
}

.list-group-item:hover .text-danger {
  display: inline;
}

.list-group-item .text-muted {
  text-decoration: line-through;
}

.list-group-item .text-danger {
  display: none;
}

.progress {
  margin-bottom: 0px;
}
